
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background:#b6b6b6;
}

a{
    background: #d3d3d3;
    color:#000;
}

h1 {
     color: #ffffff;
    text-align: center;
}

.left {
    display:none;
}

.right {
    background:#888888;
}

h2 {
   text-transform: uppercase;
    color:#0000a9;
}